

body{
    min-height: 100vh;
    background-color: #000000;
}

main{
    width: clamp(50%, 100%, 80%);
    margin: auto;
}

.links{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;

    h1{
        font-size: 2rem;
        text-transform: uppercase;
        color: #edcf39;
        background: -webkit-linear-gradient( #ba7b2c, #edcf39);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btn{
        padding: 0.75rem 1.25rem;
        border-radius: 0.25rem;
        // font-size: 1.5rem;
        font-weight: 700;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #edcf39;
        border: 1px solid #ba7b2c;

        &:hover{
            background: -webkit-linear-gradient( #ba7b2c, #edcf39);
        }
    }

}


.butterfly-img{
    width: 200px;
    margin: 2rem auto;
}

.landing-graphic{
    display: flex;
    align-items: center;
    position: relative;


    .butterfly-img{
        position: absolute;
        width: 200px;
        left: 50%;
        // margin: 1rem auto;
    }

    .flair-img{
        width: 50%;
    }
}


.hero-landing {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // width: clamp(50%, 100%, 80%);
    margin: auto;
    color: #edcf39;
    text-align: center;


    h1{
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #edcf39;
    }
    h2{
        font-size: 8rem;
        background: -webkit-linear-gradient( #ba7b2c, #edcf39);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    p{
        font-family: Arial, Helvetica, sans-serif;
        width: clamp(25ch, 100%, 50ch);
        margin: auto;
        font-weight: 700;
        color: #ffffff;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

}

.hero-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;

    .h2{
        font-size: 1.5rem;
        color: #ffffff
    }
}

.hero-section{
    color: #ffffff;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;

    img{
        border: 2px solid #edcf39;
    }

    .frameImg, .butterfly-img{
        border: none;
    }

    .h1{
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .hero-main{
        display: flex;
        margin-top: 1rem;

        .profile-n-frame{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            & img{
                width: 80%;
                margin: auto;
            }
        }

        .h1{
            font-style: italic;
            margin-bottom: 1rem;
        }

        .h2{
            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 1rem;

        }

        p{ font-weight: 600;  line-height: 1.3;}

        & > *{
            width: 50%;
            padding: 1rem;
        }
    }

    .hero-video{
        display: flex;
        flex-direction: column;

        video{
            max-height: 400px;
            width: clamp(50%, 100%, 90%);
            margin: 2rem auto;
        }
    }

    .hero-photos{


        display: grid;
        grid-gap: 2rem;

        img{
            max-width: 100%;
        }
    }
}



@media screen and (max-width: 690px) {
}