#mainModal {
  /* background-color:rgba(0, 0, 0, 0.2); */
  color: #000000;
  /* position: fixed; */
  /* bottom: 0;/ */
  /* width: 100vw; */
  /* height: 100vh; */

  display: flex;

  justify-content: center;
  align-items: flex-end;
}

.modal-container{
  font-family: 'Cormorant Garamond', sans-serif;

  background-color: #fbf2ef;
  border: 1px solid #323232;
  color: #323232;
  padding: 1.5rem 1rem;
  /* border-radius: 0.5rem; */
  width: 90%;
  max-width: 400px;
  margin-bottom: 10rem;

  font-size: 24px;
}

.add-btn{
  padding: 1rem 2rem;
  font-size: 18px;
  background-color: #fbf2ef;
  /* border-radius: 0.5rem; */
  /* box-shadow: 0 10px 20px -15px #000000; */
  border: 1px solid #323232;
  color: #323232;
  cursor: pointer;
  margin-bottom: 1rem;
}

.add-btn:hover{
  color: #fbf2ef;
  background-color: #323232;
}

.add-btn a{
  color: inherit;
  text-decoration: none;
}