.form-main {
  background-color:rgba(0, 0, 0, 0.2);
  color: #000000;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#addPersonForm{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem;
  width: 90%;
  max-width: 400px;
  border-radius: 0.5rem;
  background-color: #ddd3a1;
}


.w-100{width: 100%;}
.d-none {display: none;}
.d-flex {display: flex;}

.btn-group{
  display: flex;
  justify-content: space-between;

}

.btn{
  display: inline-block;
  background-color: #007fb9;
  color: #ffffff;
  border: 1px solid #afafaf;;
  text-align: center;
  width: 50%;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 6px 15px -15px;
}

.remove-btn{
  background-color: #ff0000;
  box-shadow: 0 6px 25px -10px #000000;
  color: #ffffff;
  width: 25%;
}



label{
  /* margin-bottom: 0.25rem; */
  padding: 0.25rem 0;
  margin-top: 1rem;

}

.error-msg{
  padding: 0.5rem;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 0.75rem;
  color: #ff0000;
  font-weight: 700;
}

input{
  font-family: inherit;
  border: 0;
  padding: 0.25rem;
  font-size: 18px;
}


.gr-movement{
  padding-top: 0.75rem;
  text-align: center;
  font-size: 0.75rem;
}