.county-list{

    max-width: 600px;
    margin: auto;
    padding: 1rem 2rem;


    .county-dropdown{
        // display: flex;
        background-color: #ffffff;
        padding: 0.5rem 0;
        margin: 0.5rem 0;

        .county-list{
            padding: 0 2.5rem;
        }

        .list-item{
            padding: 0.25rem 0;
        }
    }
}