.main-app{
    font-family: 'Optima Bold', 'Optima', sans-serif;
    color: #ffffff;
    min-height: 100vh;
    scroll-behavior: smooth;
    /* max-height: 100vh; */
    /* width: 1000vw; */
    /* display: flex; */
    background-color: #595959;
    background-image: url('./slate-purple4.png');
    background-size: auto 100vh;    min-width: 100vw;
    position: relative;

}

.floating{
    position: fixed;
    bottom: 1rem;
    left: 2rem;

    display: flex;
    gap: 2rem;
    align-items: center;
}

.add-btn{
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px -15px #000000;
    color: #000000;
    cursor: pointer;
}

.add-btn a{
    color: #000000;
    text-decoration: none;
}

.selector{
    min-width: 100px;
    border: 1px solid #afafaf;
    max-height: 10rem;
    overflow: scroll;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.5rem;
     padding: 0.1rem 0;
}

.selector .selected{
    background-color: rgba(97, 166, 63, 0.4);
}

.selector > *{
    padding: 0 0.3rem;
}

.search-input{
    width: 100%;
    border: 1px solid #afafaf;
    outline: none;

}

/*
.glare{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #ffe7ae;
    box-shadow: 0 0 25px 10px #fff4db;
    z-index: 1;
    opacity: 30%;
} */

.grid{
    max-height: 100vh;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* overflow-x: scroll; */
    flex-wrap: wrap;
    padding: 1rem 1rem 3rem;

    /* transition: transform 1s; */
}


.person{
    /* display: flex; */
    /* align-items: center; */
    min-width: 300px;
    max-width: 300px;
    padding: 10px;
    text-shadow: 0 0 5px #000000;

}

.person .row{
    display: flex;
    /* align-items: center; */
}

.person-image{
    max-width: 50%;
    min-width: 50%;
}

.person-image img{
    width: 100%;
}

.person-info{
    text-shadow: 0 0 5px #000000;
    text-transform: uppercase;
}

.person-info > * {
    margin-left: 0.5rem;
    padding-bottom: 0.1rem;
}

.person-info h2{
    font-weight: 500;
    /* background-color: #000; */
    /* color: transparent; */
    /* text-shadow: 2px 2px 1px rgba(255,255,255,1); */
    /* -webkit-background-clip: text; */
       /* -moz-background-clip: text; */
            /* background-clip: text; */
}

.person-info .name{ text-transform: uppercase; }
.person-info .name span{ font-size: 48px; line-height: 1; }